.label {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.statKey {
    font-size: 0.8em;
    font-weight: bold;
}

.statValue {
    font-size: 0.75em;
    color: var(--text-muted);
}