.statsBlock {
    display: flex;
    gap: 30px;
    align-items: flex-end;
    margin-top: 20px;
}

.scaleContainer {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    gap: 8px;
}

.statLabel {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.statKey {
    font-size: 0.8em;
    font-weight: bold;
}

.statValue {
    font-size: 0.75em;
    color: var(--text-muted);
}