.dashboardContainer {
    border-style: solid;
    border-width: 1px;
    border-color: var(--background-modifier-border);
    border-radius: 1.5rem;
    padding: 1rem;
    background-color: var(--background-primary-alt);
    max-width: 25rem;
    justify-self: center;
    margin-block: 1.5rem;
}
.dashboardContainer:focus-visible {
    box-shadow: 0 0 0 2px var(--background-modifier-border-focus);
}