.statsBlock {
    display: flex;
    gap: 30px;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 20px;
    height: 12rem;
}

.statItemContainer {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    gap: 3px;
    margin-inline-start: 0 !important;
    width: 4.2rem;
}