.formContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.button {
    margin: 0.25rem 1rem;
}

.statChangersContainer {
    display: flex;
    justify-content: center;
    gap: 2rem;
    border: 0;
    margin: 0;
    padding: 0;
    min-width: 0;
}

.srOnly {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0;
}